body {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

input {
  margin-bottom: 1rem;
}

button {
  background: red;
  color: white;
  margin-top: 1rem;
}

input[type="radio"] {
  outline: none;
  border: none;
  accent-color: red;
}

* input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}
